openapi: 3.0.1
info:
  title: Highlightly Sports Catalog Standings API
  description: Real-time sports data and highlights API from Highlightly. Provides live scores, matches, standings, team and player statistics, head-to-head records, odds, and on-demand video highlight clips across football, basketball, and other sports. This document models the All Sports API surface, where each documented resource is namespaced under a sport path segment (for example /football/matches). The same resources are also available on per-sport hosts such as https://soccer.highlightly.net and https://basketball.highlightly.net (without the sport path prefix) and via RapidAPI.
  contact:
    name: Highlightly
    url: https://highlightly.net
  version: '1.0'
servers:
- url: https://sports.highlightly.net
  description: Highlightly All Sports API host
security:
- ApiKeyAuth: []
tags:
- name: Standings
paths:
  /football/standings:
    get:
      operationId: getFootballStandings
      tags:
      - Standings
      summary: Get football league standings
      parameters:
      - name: leagueId
        in: query
        required: true
        schema:
          type: integer
      - name: season
        in: query
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: League standings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Standings'
components:
  schemas:
    StandingRow:
      type: object
      properties:
        position:
          type: integer
        team:
          $ref: '#/components/schemas/Team'
        points:
          type: integer
        played:
          type: integer
        won:
          type: integer
        drawn:
          type: integer
        lost:
          type: integer
    Country:
      type: object
      properties:
        code:
          type: string
        name:
          type: string
        logo:
          type: string
    Standings:
      type: object
      properties:
        league:
          $ref: '#/components/schemas/League'
        groups:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              standings:
                type: array
                items:
                  $ref: '#/components/schemas/StandingRow'
    Team:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        logo:
          type: string
    League:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        logo:
          type: string
        season:
          type: integer
        country:
          $ref: '#/components/schemas/Country'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-rapidapi-key
      description: API key issued by Highlightly. Sent in the x-rapidapi-key header. When calling via RapidAPI, also send x-rapidapi-host with the relevant RapidAPI host (for example sport-highlights-api.p.rapidapi.com).
